<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
        <title>
            <%= title%>
        </title>
</head>

<body>
    <%- include('partials/navigation') %>
        <main class="container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h3 class="display-3 d-flex justify-content-center">Drogas</h3>
                <h6 class="display-6 d-flex justify-content-center">Que es lo que debes saber...</h6>
                <img src="https://i.gifer.com/origin/c1/c1670adb8bb71e3e8538593bb2d3ef0f_w200.gif" alt="drogas" width="200px">
                <p class="d-flex justify-content-center">
                    No es difícil encontrar drogas y a veces puede parecer como si todo el mundo las fabricara o quisiera que las probaras. Pero, como ocurre con todo lo que parece demasiado bueno para ser verdad, hay desventajas (y peligros) asociados al consumo de drogas.
                </p>
                <h6 class="display-6 d-flex justify-content-center">¿Cómo actúan las drogas?</h6>
                <img src="https://www.farmaciagraziani.it/wp-content/uploads/2013/09/GIF-ANIMATA-twet.gif" alt="drogas" width="200px">
                <p class="d-flex justify-content-center">
                    Las drogas son sustancias químicas que modifican el funcionamiento de nuestro cuerpo,Cuando se toman (generalmente tragándolas, inhalándolas o inyectándoselas), las drogas encuentran la forma de llegar al torrente sanguíneo. Desde allí, llegan al cerebro y a otras partes del cuerpo.
                </p>
                <h6 class="display-6 d-flex justify-content-center">¿Dónde puedo encontrar ayuda?</h6>
                <img src="https://i.gifer.com/origin/aa/aa32e3272d546fb717f77345540e4861_w200.gif" alt="drogas" width="200px">
                <p class="d-flex justify-content-center">
                    Si crees que tú, o un amigo tuyo, pueden ser adictos a las drogas, habla con uno de tus padres, tu médico, tu orientador escolar o el personal de la enfermería de tu centro de estudios. Ellos te pueden ayudar a recibir la ayuda que necesitas.
                </p>
                <a href="/service" class="btn btn-primary w-25">Read More...</a>
            </section>
        </main>
</body>

</html>