<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
        <title>
            <%= title%>
        </title>
</head>

<body>
    <%- include('partials/navigation') %>

        <header class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="/img/drogas2.png" alt="logo" class="img-drogas">
                <h1 class="display-1 my-5 text-uppercase fw-bold">Drug Preventions</h1>
                <h3 class="display-3 d-flex justify-content-center">MIsion</h3>
                <p class="d-flex justify-content-center">La misión de la Fundación AntiDrugs es ayudar a las personas con problemas de adicción a las drogas y al alcohol, a llevar un estilo de vida libre de ellas, mediante un equipo clínico interdisciplinario conformado por profesionales y ex adictos con certificación en adicciones, que tienen como finalidad orientar, guiar y acompañar, para un nuevo proyecto de vida sano, digno, basado en la espiritualidad, la conciencia de cambio y la dignidad.</p>
                <h3 class="display-3 d-flex justify-content-center">Vision</h6>
                <p class="d-flex justify-content-center">Para el año 2025, la Fundación AntiDrugs será una IPS líder en el tratamiento de patologías adictivas a nivel regional y nacional, a través de la intervención y posterior reinserción social a personas con problemas de consumo de sustancias psicoactivas, brindándoles una respuesta amorosa y afectiva para construir un proyecto de vida digno y generar un impacto social a la comunidad.  
                </p>
                <a href="/about" class="btn btn-primary w-25">Read More...</a>
            </div>

        </header>

        <%- include('partials/footer') %>

</body>

</html>